source_url "https://github.com/tmatilai/direnv-1password/raw/v1.0.0/1password.sh" \
    "sha256-EGpCcHQA5inHmMmkvj+TqIjPeNzzvG4F+BUXfFKb1c0="

# Multiple secrets can be fetched by passing the items to the command's STDIN
from_op <<OP
    LEGISCAN_API_KEY="op://Moni and Ed/LegiScan/API Key"
OP
